{% extends 'base.html' %}
{% block title %}Expense Categories{% endblock title %}
{% block content %}
  <h1>Expense Categories</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.receipt_set.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
